<div class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="center">Dodaj pomieszczenie</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="house" placeholder="Dom" class="validate" [(ngModel)]="room.house">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="name" placeholder="Nazwa" class="validate" [(ngModel)]="room.name">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button (click)="add()" class="btn-large waves-effect waves-light red lighten-2 center" type="submit" name="add-room">
              Dodaj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="collection">
        <div class="collection-header">
          <h5 class="center">Pomieszczenia</h5>
        </div>
        <a *ngFor="let r of roomService.rooms" routerLink="/room/{{ r.pk }}" class="collection-item">{{ r.name }}</a>
      </div>
    </div>
  </div>
</div>
