<header>
  <div class="nav-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a routerLink="/">Strona Główna</a></li>
          <li><a href="/house">Domy</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
