<div class="container" *ngIf="!userService.isLoggedIn()">
  <form class="col s12">
    <h4>Zaloguj</h4>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="login-username" placeholder="Login" class="validate" [(ngModel)]="user.username">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="password" name="login-password" placeholder="Hasło" class="validate" [(ngModel)]="user.password">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button (click)="login()" class="btn-large waves-effect waves-light red lighten-2 center" type="submit" name="login">
          Zaloguj
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="center">Witaj {{ userService.user.username }}!</h4>
    </div>
  </div>
</div>
