<div class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="center">Dodaj dom</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="owner" placeholder="Właściciel" class="validate" [(ngModel)]="house.owner">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="name" placeholder="Nazwa" class="validate" [(ngModel)]="house.name">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="location" placeholder="Położenie" class="validate" [(ngModel)]="house.location">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button (click)="add()" class="btn-large waves-effect waves-light red lighten-2 center" type="submit" name="add-house">
              Dodaj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12">
      <div class="collection">
        <div class="collection-header">
          <h5 class="center">Domy</h5>
        </div>
        <a *ngFor="let h of houseService.houses" routerLink="/house/{{ h.pk }}" class="collection-item">{{ h.name }}</a>
      </div>
    </div>
  </div>
</div>
