<div class="container">
  <div class="row">
    <h5></h5>
    <h5 class="center">Ostatnie dane - {{ dataService.latest?.timestamp | date:'medium' }}</h5>
    <div class="col s4">
      <h2 class="center">{{ dataService.latest?.temperature }} &deg;C</h2>
    </div>
    <div class="col s4">
      <h2 class="center">{{ dataService.latest?.humidity }} %</h2>
    </div>
    <div class="col s4">
      <h2 class="center">{{ dataService.latest?.pressure }} &deg;C</h2>
    </div>
  </div>
  <div class="row">
    <h5 class="center">Historia</h5>
    <ul class="collection">
      <li *ngFor="let entry of dataService.data" class="collection-item">
        {{ entry.timestamp | date:'medium' }}
        <span class="right">{{ entry.temperature }} &deg;C | {{ entry.humidity }} % | {{ entry.pressure }} &deg;C</span>
      </li>
    </ul>
  </div>
</div>
