<div class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="center">Dodaj urządzenie</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="room" placeholder="Pomieszczenie" class="validate" [(ngModel)]="device.room">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="name" placeholder="Nazwa" class="validate" [(ngModel)]="device.name">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="description" placeholder="Opis" class="validate" [(ngModel)]="device.description">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button (click)="add()" class="btn-large waves-effect waves-light red lighten-2 center" type="submit" name="add-device">
              Dodaj
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="collection">
        <div class="collection-header">
          <h5 class="center">Urządzenia</h5>
        </div>
        <a *ngFor="let d of deviceService.devices" routerLink="/device/{{ d.pk }}" class="collection-item">{{ d.name }}</a>
      </div>
    </div>
  </div>
</div>
